<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link href="/public/icon/favicon.ico" rel="shortcut icon">
    <link href="/public/icon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/public/icon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
<!--    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e563806347.js"></script>-->
    {{block "css" .}}{{end}}
    <title>Nginx Proxy Manager</title>
    <style>
        body {
            margin-top: 65px;
        }
    </style>
</head>

<body>
<nav aria-label="main navigation" class="navbar is-black is-fixed-top" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img height="28" src="/public/icon/nginx.png">GINX
        </a>

        <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="navbarBasicExample" role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbarBasicExample">
        <div class="navbar-start">
            {{ block "navbar" .}}
            <a class="navbar-item" href="/">服务器状态</a>
            <a class="navbar-item" href="/config">配置</a>
            <a class="navbar-item" href="/sites">网站管理</a>
            <a class="navbar-item" href="/ssl">SSL证书管理</a>
            {{end}}
        </div>

    </div>
</nav>

<div class="container">
    <div class="mx-3">
        {{template "content" .}}
    </div>
</div>
</body>
<script>
    // 禁用IOS双指缩放和双击缩放, 安卓则不需要下面这个段代码
    (function () {
        var agent = navigator.userAgent.toLowerCase();        //检测是否是ios

        if (agent.indexOf('iphone') >= 0 || agent.indexOf('ipad') >= 0) {

            // 禁用双指缩放
            document.documentElement.addEventListener('touchstart', function (event) {
                if (event.touches.length > 1) {
                    event.preventDefault();
                }
            }, false);

            // 禁用双击缩放
            var lastTouchEnd = 0;
            document.addEventListener('touchend', function (event) {
                var now = (new Date()).getTime();
                if (now - lastTouchEnd <= 300) {
                    event.preventDefault();
                }
                lastTouchEnd = now;
            }, false)
        }
    })();
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
{{block "js" .}}{{end}}
</html>