{{ define "footer.html" }}
</div>
</div>
<footer class="footer" style="bottom: 0;position: absolute;width: 100%;padding: 3rem 1.5rem 3rem;">
    <div class="content has-text-centered">
        <p>
            Powered by <strong><a href="https://github.com/qfdk/uranus">Οὐρανός</a></strong> Coding by <a href="https://github.com/qfdk">@qfdk</a>.
        </p>
    </div>
</footer>
</body>
<script>
    // 禁用IOS双指缩放和双击缩放, 安卓则不需要下面这个段代码
    (function () {
        var agent = navigator.userAgent.toLowerCase();        //检测是否是ios
        if (agent.indexOf('iphone') >= 0 || agent.indexOf('ipad') >= 0) {
            // 禁用双指缩放
            document.documentElement.addEventListener('touchstart', function (event) {
                if (event.touches.length > 1) {
                    event.preventDefault();
                }
            }, false);

            // 禁用双击缩放
            var lastTouchEnd = 0;
            document.addEventListener('touchend', function (event) {
                var now = (new Date()).getTime();
                if (now - lastTouchEnd <= 300) {
                    event.preventDefault();
                }
                lastTouchEnd = now;
            }, false)
        }
    })();
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
</html>
{{end}}