{{define "navbar"}}
<a class="nav-link" href="/">服务器状态</a>
<a class="nav-link" href="/config">配置</a>
<a aria-current="page" class="nav-link active" href="/domains">域名管理</a>
<a class="nav-link" href="/ssl">SSL证书管理</a>
{{end}}
{{define "content"}}
<h3>域名管理</h3>
<div class="alert alert-primary" role="alert">
    已存在域名列表
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">域名</th>
        <th scope="col">SSL</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Default</th>
        <td>Cell</td>
        <td>Cell</td>
    </tr>

    <tr class="table-primary">
        <th scope="row">Primary</th>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    <tr class="table-secondary">
        <th scope="row">Secondary</th>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    <tr class="table-success">
        <th scope="row">Success</th>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    <tr class="table-danger">
        <th scope="row">Danger</th>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    <tr class="table-warning">
        <th scope="row">Warning</th>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    <tr class="table-info">
        <th scope="row">Info</th>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    <tr class="table-light">
        <th scope="row">Light</th>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    <tr class="table-dark">
        <th scope="row">Dark</th>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    </tbody>
</table>
{{end}}
