{{template "header.html" .}}
<h3 class="title is-3">服务器状态</h3>

{{ if ne .nginxStatus "KO" }}
<article class="message is-success">
    <div class="message-body">
        Nginx 正在平稳运行 PID : <strong>{{.nginxStatus}}</strong>
    </div>
</article>
{{else}}
<article class="message is-warning">
    <div class="message-body">
        Nginx 没有运行 ...
    </div>
</article>
{{if and (ne .nginxActionMessage "OK") (ne .nginxActionMessage "")}}
<article class="message is-danger">
    <div class="message-body">
        {{.nginxActionMessage}}
    </div>
</article>
{{end}}

{{end}}

<div class="block">
    <div class="buttons">
        <form action="/nginx" method="post">
            <button type="submit" name="action" value="start" class="button is-info" {{ if ne .nginxStatus "KO" }}disabled{{end}} >
            <i class="fa fa-play" aria-hidden="true"></i>&nbsp;开始服务</button>
            <button type="submit" name="action" value="reload" class="button is-warning is-outlined" {{ if eq .nginxStatus "KO" }}disabled{{end}}>
            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;重载配置</button>
            <button type="submit" name="action" value="stop" class="button is-danger is-outlined" {{ if eq .nginxStatus "KO" }}disabled{{end}}>
            <i class="fa fa-stop" aria-hidden="true"></i>&nbsp;停止服务</button>
            <a type="link" href="/nginx/config" class="button is-dark">
                <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Nginx配置文件</a>
        </form>
    </div>
</div>

<div class="columns is-centered">
    <div class="column">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>项目</th>
                <th>值</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">操作系统</th>
                <td>{{.osName}}</td>
            </tr>
            <tr>
                <th scope="row">CPU</th>
                <td>{{.cpu.ModelName}} x {{.cpu.Cores}}</td>
            </tr>
            <tr>
                <th scope="row">内存</th>
                <td>{{.memInfo}}</td>
            </tr>
            <tr>
                <th scope="row">Nginx 版本</th>
                <td>{{.nginxCompileInfo.Version}}</td>
            </tr>
            <tr>
                <th scope="row">编译器</th>
                <td>{{.nginxCompileInfo.CompilerVersion}}</td>
            </tr>
            <tr>
                <th scope="row">SSL 版本</th>
                <td>{{.nginxCompileInfo.SSLVersion}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>{{.nginxCompileInfo.TLSSupport}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{{template "footer.html" .}}