{{define "navbar"}}
<a aria-current="page" class="nav-link active" href="/">服务器状态</a>
<a class="nav-link" href="/config">配置</a>
<a class="nav-link" href="/ssl">SSL证书管理</a>
<a class="nav-link disabled">服务器管理</a>
{{end}}

{{define "content"}}
<h3>服务器状态</h3>

{{ if ne .nginxStatus "KO" }}
<div class="alert alert-success" role="alert">
    Nginx 正在平稳运行 PID : {{.nginxStatus}}
</div>
{{else}}
<div class="alert alert-warning" role="alert">
    Nginx 没有运行 ...
</div>
{{end}}

<form action="/nginx" method="post">
    <button type="submit" name="action" value="start" class="btn btn-primary" {{ if ne .nginxStatus
    "KO" }}disabled{{end}} >开始服务</button>
    <button type="submit" name="action" value="reload" class="btn btn-outline-warning" {{ if eq .nginxStatus
    "KO" }}disabled{{end}}>重载配置</button>
    <button type="submit" name="action" value="stop" class="btn btn-outline-danger" {{ if eq .nginxStatus
    "KO" }}disabled{{end}}>停止服务</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">项目名称</th>
        <th scope="col">状态</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">操作系统</th>
        <td>{{.osName}}</td>
    </tr>
    <tr>
        <th scope="row">CPU</th>
        <td>{{.cpu.ModelName}} x {{.cpu.Cores}} - {{.cpu.Mhz}} Mhz</td>
    </tr>
    <tr>
        <th scope="row">内存</th>
        <td>{{.memInfo}}</td>
    </tr>
    <tr>
        <th scope="row">版本</th>
        <td>v0.0.0</td>
    </tr>
    </tbody>
</table>
{{end}}
