{{template "header.html" .}}
<h3 class="title is-3">服务器状态</h3>

{{ if ne .nginxStatus "KO" }}
<article class="message is-success">
    <div class="message-body">
        Nginx 正在平稳运行 PID : <strong>{{.nginxStatus}}</strong>
    </div>
</article>
{{else}}
<article class="message is-warning">
    <div class="message-body">
        Nginx 没有运行 ...
    </div>
</article>
{{if and (ne .nginxActionMessage "OK") (ne .nginxActionMessage "")}}
<article class="message is-danger">
    <div class="message-body">
        {{.nginxActionMessage}}
    </div>
</article>
{{end}}

{{end}}

<div class="block">
    <div class="buttons">
        <form action="/nginx" method="post">
            <button type="submit" name="action" value="start" class="button is-info" {{ if ne .nginxStatus
            "KO" }}disabled{{end}} >
            <i class="fa fa-play" aria-hidden="true"></i>&nbsp;开始服务</button>
            <button type="submit" name="action" value="reload" class="button is-warning is-outlined" {{ if eq
                    .nginxStatus
            "KO" }}disabled{{end}}>
            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;重载配置</button>
            <button type="submit" name="action" value="stop" class="button is-danger is-outlined" {{ if eq .nginxStatus
            "KO" }}disabled{{end}}>
            <i class="fa fa-stop" aria-hidden="true"></i>&nbsp;停止服务</button>
            <a type="link" href="/nginx/config" class="button is-dark">
                <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Nginx配置文件</a>
            <button type="button" href="javascript:void(0)" id="upgrade" class="button is-info">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>&nbsp;升级
            </button>
        </form>
    </div>
</div>

<div class="columns is-centered">
    <div class="column">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>项目</th>
                <th>值</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">操作系统</th>
                <td>{{.osName}}</td>
            </tr>
            <tr>
                <th scope="row">CPU</th>
                <td>{{.cpu.ModelName}} x {{.cpu.Cores}}</td>
            </tr>
            <tr>
                <th scope="row">内存</th>
                <td>{{.memInfo}}</td>
            </tr>
            <tr>
                <th scope="row">Nginx 版本</th>
                <td>{{.nginxCompileInfo.Version}}</td>
            </tr>
            <tr>
                <th scope="row">编译器</th>
                <td>{{.nginxCompileInfo.CompilerVersion}}</td>
            </tr>
            <tr>
                <th scope="row">SSL 版本</th>
                <td>{{.nginxCompileInfo.SSLVersion}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>{{.nginxCompileInfo.TLSSupport}}</td>
            </tr>
            <tr>
                <th scope="row">构建版本</th>
                <td>{{.buildVersion}}</td>
            </tr>
            <tr>
                <th scope="row">构建时间</th>
                <td>{{.buildTime}}</td>
            </tr>
            <tr>
                <th scope="row">CommitID</th>
                <td>{{.commitID}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="upgrade-modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="padding: 12px;">
        <header class="modal-card-head">
            <p class="modal-card-title">系统信息</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <article class="message is-warning" id="upgrade-message">
                <div class="message-header">
                    正在升级 ...
                </div>
                <div class="content">
                    <table>
                        <thead>
                        <tr>
                            <th>内容</th>
                            <th>值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">构建版本</th>
                            <td>{{.buildVersion}}</td>
                        </tr>
                        <tr>
                            <th scope="row">构建时间</th>
                            <td>{{.buildTime}}</td>
                        </tr>
                        <tr>
                            <th scope="row">CommitID</th>
                            <td>{{.commitID}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
            <article class="message is-success" id="upgrade-ok" style="display: none;">
                <div class="message-header">
                    <p>升级完成, 3s 后刷新页面...</p>
                </div>
                <div class="content">
                    <table>
                        <thead>
                        <tr>
                            <th>内容</th>
                            <th>值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>构建时间</td>
                            <td id="buildTime"></td>
                        </tr>
                        <tr>
                            <td>构建版本</td>
                            <td id="buildVersion"></td>
                        </tr>
                        <tr>
                            <td>CommitID</td>
                            <td id="commitID"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#upgrade").click(() => {
            $("#upgrade-modal").addClass("is-active");
            $.get('/upgrade', (data) => {
                $("#upgrade-message").hide();
                const {buildTime, buildVersion, gitCommit} = data;
                $("#buildTime").html(buildTime);
                $("#buildVersion").html(buildVersion);
                $("#commitID").html(gitCommit);
                $("#upgrade-ok").show();
                setTimeout(() => {
                    location.reload();
                }, 3000);
            });
        });
        $(".delete").click(() => {
            $("#upgrade-modal").removeClass("is-active");
        });
    });
</script>
{{template "footer.html" .}}