{{template "header.html" .}}
<h3 class="title">网站管理</h3>
<article class="message is-info">
    <div class="message-body">
        已添加的网站列表
    </div>
</article>
<a class="button is-info" href="/sites/new" type="link">添加新配置</a>
<div class="columns is-centered">
    <div class="column">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th scope="col">配置文件</th>
                <th scope="col">大小</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $value :=.files}}
            <tr>
                <th scope="row">{{$value.Name}}</th>
                <td>{{call $.humanizeBytes $value.Size}}</td>
                <td>
                    <a href="/sites/edit?path={{$value.Name}}"><span class="tag is-info">编辑</span></a>
                    <a href="/sites/delete?path={{$value.Name}}"><span class="tag is-danger is-light">删除</span></a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{template "footer.html" .}}
