{{define "navbar"}}
<a class="nav-link" href="/">服务器状态</a>
<a class="nav-link" href="/config">配置</a>
<a class="nav-link" href="/sites">网站管理</a>
<a aria-current="page" class="nav-link active" href="/ssl">SSL证书管理</a>
{{end}}
{{define "content"}}
<h3>SSL</h3>
<div class="alert alert-primary" role="alert">
    SSL 证书签名列表
</div>
<!--<table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">Class</th>-->
<!--        <th scope="col">Heading</th>-->
<!--        <th scope="col">Heading</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <th scope="row">Default</th>-->
<!--        <td>Cell</td>-->
<!--        <td>Cell</td>-->
<!--    </tr>-->

<!--    <tr class="table-primary">-->
<!--        <th scope="row">Primary</th>-->
<!--        <td>Cell</td>-->
<!--        <td>Cell</td>-->
<!--    </tr>-->
<!--    <tr class="table-secondary">-->
<!--        <th scope="row">Secondary</th>-->
<!--        <td>Cell</td>-->
<!--        <td>Cell</td>-->
<!--    </tr>-->
<!--    <tr class="table-success">-->
<!--        <th scope="row">Success</th>-->
<!--        <td>Cell</td>-->
<!--        <td>Cell</td>-->
<!--    </tr>-->
<!--    <tr class="table-danger">-->
<!--        <th scope="row">Danger</th>-->
<!--        <td>Cell</td>-->
<!--        <td>Cell</td>-->
<!--    </tr>-->
<!--    <tr class="table-warning">-->
<!--        <th scope="row">Warning</th>-->
<!--        <td>Cell</td>-->
<!--        <td>Cell</td>-->
<!--    </tr>-->
<!--    <tr class="table-info">-->
<!--        <th scope="row">Info</th>-->
<!--        <td>Cell</td>-->
<!--        <td>Cell</td>-->
<!--    </tr>-->
<!--    <tr class="table-light">-->
<!--        <th scope="row">Light</th>-->
<!--        <td>Cell</td>-->
<!--        <td>Cell</td>-->
<!--    </tr>-->
<!--    <tr class="table-dark">-->
<!--        <th scope="row">Dark</th>-->
<!--        <td>Cell</td>-->
<!--        <td>Cell</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<div class="row">
    <div class="col-auto">
        <button class="btn btn-warning" id="btnFormatterNginxConf" title="Shift+Alt+F 快捷格式化">格式化</button>
    </div>
    <div class="col-auto">
        <select class="form-select nr-theme">
            <optgroup label="Theme">
                <option value="vs">vs</option>
                <option value="vs-dark">vs-dark</option>
            </optgroup>
        </select>
    </div>
    <div class="col-md-12 mt-3">
        <div id="editor" class="border overflow-hidden position-relative">
            <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/nginxbeautifier@1.0.19/nginxbeautifier.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/monaco-editor@0.31.1/min/vs/loader.js'></script>
<script>
    require.config({
        paths: {
            vs: 'https://cdn.jsdelivr.net/npm/monaco-editor@0.31.1/min/vs'
        },
        'vs/nls': {availableLanguages: {'*': 'zh-cn'}}
    });
</script>
<script src="/public/js/editor.js"></script>
{{end}}