{{template "header.html" .}}
<h3 class="title">SSL</h3>
<article class="message is-info">
    <div class="message-body">
        SSL 证书签名列表
    </div>
</article>
<div class="columns is-centered">
    <div class="column">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th scope="col">配置名称</th>
                <th scope="col">域名</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $key, $value :=.files}}
            <tr>
                <th scope="row">{{$key}}</a></th>
                <td>
                    {{range $index, $val :=$value}}
                    <a href="https://{{$val}}">{{$val}}</a>
                    {{end}}
                </td>
                <td>
                    <button class="button is-info is-small" data-config="{{$key}}">续命</button>
                    <a class="button is-danger is-small" href="/ssl/delete?configName={{$key}}">删除</a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{template "footer.html" .}}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script>
    $(".button.is-info").on('click', (e) => {
        const ele = $(e.target);
        const configName = ele.data('config');
        ele.addClass("is-loading");
        $.get(`/ssl/renew?configName=${configName}`).then(response => {
            if (response.message === "OK") {
                ele.removeClass("is-loading");
            }
        });
    });
</script>