{{template "header.html" .}}
<h3 class="title">SSL</h3>
<article class="message is-info">
    <div class="message-body">
        SSL 证书签名列表
    </div>
</article>
<div class="columns is-centered">
    <div class="column">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th scope="col">域名</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $value :=.files}}
            <tr>
                <th scope="row"><a href="https://{{$value.Name}}">{{$value.Name}}</a></th>
                <td>
                    <a href="/ssl/renew?domain={{$value.Name}}"><span class="tag is-info">续命</span></a>
                    <a href="/ssl/delete?domain={{$value.Name}}"><span class="tag is-danger is-light">删除</span></a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{template "footer.html" .}}
