{{template "header.html" .}}
<h4 class="title is-4">配置文件</h4>
<article class="message is-info">
    <div class="message-body">
        配置文件列表
    </div>
</article>
<div class="table-container">
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th scope="col">项目名称</th>
            <th scope="col">状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Nginx 版本</th>
            <td>{{.nginxCompileInfo.Version}}</td>
        </tr>
        <tr>
            <th scope="row">编译器</th>
            <td>{{.nginxCompileInfo.CompilerVersion}}</td>
        </tr>
        <tr>
            <th scope="row">SSL 版本</th>
            <td>{{.nginxCompileInfo.SSLVersion}}</td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>{{.nginxCompileInfo.TLSSupport}}</td>
        </tr>
        {{range $index, $value :=.nginxCompileInfo.Params}}
        <tr>
            <th scope="row"></th>
            <td>--{{$value}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{template "footer.html" .}}