{{template "header.html" .}}
<h4 class="title is-4">服务器状态</h4>

{{ if ne .nginxStatus "KO" }}
<article class="message is-success">
    <div class="message-body">
        Nginx 正在平稳运行 PID : <strong>{{.nginxStatus}}</strong>
    </div>
</article>
{{else}}
<article class="message is-warning">
    <div class="message-body">
        Nginx 没有运行 ...
    </div>
</article>
{{if and (ne .nginxActionMessage "OK") (ne .nginxActionMessage "")}}
<article class="message is-danger">
    <div class="message-body">
        {{.nginxActionMessage}}
    </div>
</article>
{{end}}

{{end}}

<div class="block">
    <div class="buttons">
        <form action="/admin/nginx" method="post">
            <button type="submit" name="action" value="start" class="button is-info" {{ if ne .nginxStatus
            "KO" }}disabled{{end}} >
            <i class="fa fa-play" aria-hidden="true"></i>&nbsp;开始服务</button>
            <button type="submit" name="action" value="reload" class="button is-warning is-outlined" {{ if eq
                    .nginxStatus
            "KO" }}disabled{{end}}>
            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;重载配置</button>
            <button type="submit" name="action" value="stop" class="button is-danger is-outlined" {{ if eq .nginxStatus
            "KO" }}disabled{{end}}>
            <i class="fa fa-stop" aria-hidden="true"></i>&nbsp;停止服务</button>
            <a type="link" href="/admin/nginx/config" class="button is-dark">
                <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Nginx配置文件</a>
            {{ if .hasSSH }}
            <a type="link" href="/admin/terminal/stop" class="button is-danger">
                <i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;关闭 SSH
            </a>
            {{end}}
            <button type="button" id="openUpgradeModal" class="button is-info">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>&nbsp;升级
            </button>
        </form>
    </div>
</div>

<div class="columns is-centered">
    <div class="column">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>项目</th>
                <th>值</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">操作系统</th>
                <td>{{.osName}}</td>
            </tr>
            <tr>
                <th scope="row">CPU</th>
                <td style="max-width: 250px;overflow-x: auto;">{{.cpu.ModelName}} x {{.cpu.Cores}}</td>
            </tr>
            <tr>
                <th scope="row">内存</th>
                <td>{{.memInfo}}</td>
            </tr>
            <tr>
                <th scope="row">Nginx 版本</th>
                <td>{{.nginxCompileInfo.Version}}</td>
            </tr>
            <tr>
                <th scope="row">编译器</th>
                <td>{{.nginxCompileInfo.CompilerVersion}}</td>
            </tr>
            <tr>
                <th scope="row">SSL 版本</th>
                <td>{{.nginxCompileInfo.SSLVersion}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>{{.nginxCompileInfo.TLSSupport}}</td>
            </tr>
            <tr>
                <th scope="row">构建版本</th>
                <td id="upgrade_buildVersion">{{.buildVersion}}</td>
            </tr>
            <tr>
                <th scope="row">构建时间</th>
                <td id="upgrade_buildTime">{{.buildTime}}</td>
            </tr>
            <tr>
                <th scope="row">CommitID</th>
                <td style="max-width: 250px;overflow-x: auto;" id="upgrade_commitID">{{.commitID}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="upgrade-modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="padding: 12px;">
        <article class="message is-info" id="upgrade-message">
            <div class="message-header">
                系统信息
                <button class="delete" aria-label="close"></button>
            </div>
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>内容</th>
                        <th>值</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">构建版本</th>
                        <td>{{.buildVersion}}</td>
                    </tr>
                    <tr>
                        <th scope="row">构建时间</th>
                        <td>{{.buildTime}}</td>
                    </tr>
                    <tr>
                        <th scope="row">CommitID</th>
                        <td style="max-width: 250px;overflow-x: auto;">{{.commitID}}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <button id="upgrade" class="button is-info is-pulled-right">
                                <i id="upgrade_icon" class="fa fa-arrow-circle-up" aria-hidden="true"></i><i
                                    class="fa fa-spinner fa-spin"
                                    style="display: none"
                                    aria-hidden="true"></i>&nbsp;升级
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
        <article class="message is-success" id="upgradeFinish" style="display: none;">
            <div class="message-header">
                <span id="upgradeFinish-OK" style="display: none">升级完成, 5s 后刷新页面...</span>
                <span id="upgradeFinish-KO" style="display: none">已经是最新版本, 不需要升级</span>
                <button class="delete" aria-label="close"></button>
            </div>
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>内容</th>
                        <th>值</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>构建时间</td>
                        <td id="buildTime"></td>
                    </tr>
                    <tr>
                        <td>构建版本</td>
                        <td id="buildVersion"></td>
                    </tr>
                    <tr>
                        <td>CommitID</td>
                        <td style="max-width: 250px;overflow-x: auto;" id="commitID"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script>
    let updateData = null;

    $(document).ready(function () {
        $.get('/checkUpdate', (data) => {
            updateData = data;

            const {buildTime} = data;
            if (buildTime !== $('#upgrade_buildTime')?.text()?.trim()) {
                $("#upgrade").attr("disabled", false);
            } else {
                $("#upgrade").attr("disabled", true);
            }
        });

        $("#openUpgradeModal").click(() => {
            $("#upgrade-modal").addClass("is-active");
        });

        $(".delete").click(() => {
            $("#upgrade-modal").removeClass("is-active");
        });

        $("#upgrade").click(() => {
            $("#upgrade").attr("disabled", true);
            $('.fa-spinner').show();
            $('#upgrade_icon').hide();

            const {status, buildTime, buildVersion, commitId} = updateData;
            $("#upgrade-message").hide();
            $("#buildTime").html(buildTime);
            $("#buildVersion").html(buildVersion);
            $("#commitID").html(commitId);
            $('.fa-spinner').hide();
            $.post('/upgrade');
            if (status === 'OK') {
                $("#upgradeFinish-OK").show()
                setTimeout(() => {
                    location.reload();
                }, 5000);
            } else {
                $("#upgradeFinish-KO").show()
            }
            $('#upgrade_icon').show();
            $("#upgradeFinish").show();
        });
    });
</script>

{{template "footer.html" .}}