{{template "header.html" .}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.31.1/dev/vs/editor/editor.main.css">
<h4 class="title is-4">Nginx 默认配置编辑</h4>

<div class="row">
    <article class="message is-danger" id="alert" style="display: none">
        <div class="message-body">
            <span id="message"></span>
        </div>
    </article>

    <article class="message is-success" id="alertSuccess" style="display: none">
        <div class="message-body">
            <span id="successMessage"></span>
        </div>
    </article>

    <div class="field has-addons">
        <p class="control">
            <a class="button is-static">文件名：</a>
        </p>
        <input class="input" type="text" value="{{.configFileName}}" id="filename" class="form-control" readonly>
        <p class="control">
            <a class="button is-static">.conf</a>
        </p>
    </div>
    <div class="block">
        <button class="button is-warning" id="btnFormatterNginxConf" title="Shift+Alt+F 快捷格式化">格式化</button>
        <button class="button is-info" id="saveNginxConf">保存Nginx配置</button>
    </div>

    <div class="block">
        <div id="editor" data-lang="nginx"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/monaco-editor@0.32.1/min/vs/loader.js'></script>
<script src='https://cdn.jsdelivr.net/npm/nginxbeautifier@1.0.19/nginxbeautifier.min.js'></script>
<script src="/public/js/editor.js"></script>
<script>
    require(['vs/editor/editor.main'], function () {
        monaco.languages.register({id: defaultLang});
        monaco.languages.setLanguageConfiguration(defaultLang, {
            autoClosingPairs: [
                {open: '{', close: '}'},
                {open: '"', close: '"'},
            ],
            comments: {
                lineComment: "#"
            }
        });
        monaco.languages.setMonarchTokensProvider(defaultLang, tokenConf);
        monaco.editor.defineTheme(themeConfig.base, themeConfig);
        var codeContent = {{.content}};
        editor = monaco.editor.create(document.getElementById('editor'),
            {
                value: codeContent,
                language: defaultLang,
                theme: defaultTheme,
                fontSize: 18,
                automaticLayout: true,
                scrollbar: {
                    verticalScrollbarSize: 13,
                    horizontalScrollbarSize: 13
                },
                minimap: {
                    enabled: true
                }
            });

        //格式化
        monaco.languages.registerDocumentFormattingEditProvider(defaultLang, {
            provideDocumentFormattingEdits: function (model, _options, _token) {
                return [{
                    text: nginxFormatter(model.getValue()),
                    range: model.getFullModelRange()
                }];
            }
        });

        $(window).on("load resize", function () {
            let ch = $(window).height() - $('#editor').offset().top - 20;
            $('#editor').css('min-height', Math.max(600, ch) + "px");
        });
    });

</script>

{{template "footer.html" .}}
