{{template "header.html" .}}
<h4 class="title is-4">网站管理</h4>
<article class="message is-info">
    <div class="message-body">
        已添加的网站列表
    </div>
</article>
<a class="button is-info" href="/admin/sites/new" type="link">
    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;添加新配置</a>
<div class="table-container">
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th scope="col">配置文件</th>
            <th scope="col">大小</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {{range $index, $value :=.files}}
        <tr>
            <th scope="row">{{$value.Name}}</th>
            <td>{{call $.humanizeBytes $value.Size}}</td>
            <td>
                <a href="/admin/sites/edit/{{$value.Name}}"><span class="tag is-info"><i class="fa fa-file-text-o"
                                                                                   aria-hidden="true"></i>&nbsp;编辑</span></a>
                <a href="/admin/sites/delete/{{$value.Name}}"><span class="tag is-danger is-light">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;删除</span></a>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{template "footer.html" .}}
