{{template "header.html" .}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.31.1/dev/vs/editor/editor.main.css">
{{if not .isNewSite}}
<h4 class="title is-4">网站配置编辑</h4>
{{end}}
{{if .isNewSite}}
<h4 class="title is-4">新网站配置</h4>
{{end}}
<div class="row">
    <article class="message is-danger" id="alert" style="display: none">
        <div class="message-body">
            <span id="message"></span>
        </div>
    </article>

    <article class="message is-success" id="alertSuccess" style="display: none">
        <div class="message-body">
            <span id="successMessage"></span>
        </div>
    </article>

    <div class="field has-addons">
        <p class="control">
            <a class="button is-static">文件名:</a>
        </p>
        <input class="input" type="text" value="{{.configFileName}}" id="filename" class="form-control" {{if not
               .isNewSite}}readonly{{end}}>
        <p class="control">
            <a class="button is-static">.conf</a>
        </p>
    </div>

    {{ if .infoPlus}}
    <div class="field has-addons">
        <p class="control">
            <a class="button is-static">域名:</a>
        </p>
        <input class="input" type="text" value="{{.domains}}" id="domains" class="form-control">
    </div>
    <div class="field has-addons">
        <p class="control">
            <a class="button is-static">反代地址:</a>
        </p>
        {{ if .isNewSite }}
        <input class="input" type="text" value="http://localhost:3000" id="proxy" class="form-control">
        {{end}}
        {{ if not .isNewSite }}
        <input class="input" type="text" value="{{.proxy}}" id="proxy" class="form-control">
        {{end}}
    </div>
    {{ end }}

    <div class="block">
        {{ if .isNewSite }}
        <button class="button is-primary" id="getTemplate">获取配置</button>
        {{end}}
        {{ if and (not .isDefaultConf) (not .isNewSite) }}
        <button class="button is-dark" id="enableSSL"><i class="fa fa-shield" aria-hidden="true"></i>&nbsp;Let's Encrypt</button>
        {{end}}
        <button class="button is-warning" id="btnFormatterNginxConf" title="Shift+Alt+F 快捷格式化"><i class="fa fa-cubes" aria-hidden="true"></i>&nbsp;格式化</button>
        <button class="button is-info" id="saveSitesConf"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;保存网站配置</button>
    </div>

    <div class="block">
        <div id="editor" data-lang="nginx"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/nginxbeautifier@1.0.19/nginxbeautifier.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/monaco-editor@0.31.1/min/vs/loader.js'></script>
<script src="/public/js/editor.js"></script>
<script>
    require(['vs/editor/editor.main'], function () {
        monaco.languages.register({id: defaultLang});
        monaco.languages.setLanguageConfiguration(defaultLang, {
            autoClosingPairs: [
                {open: '{', close: '}'},
                {open: '"', close: '"'},
            ],
            comments: {
                lineComment: "#"
            }
        });
        monaco.languages.setMonarchTokensProvider(defaultLang, tokenConf);
        monaco.editor.defineTheme(themeConfig.base, themeConfig);
        var codeContent = {{.content}};
        editor = monaco.editor.create(document.getElementById('editor'),
            {
                value: codeContent,
                language: "nginx",
                theme: defaultTheme,
                fontSize: 18,
                automaticLayout: true,
                scrollbar: {
                    verticalScrollbarSize: 13,
                    horizontalScrollbarSize: 13
                },
                minimap: {
                    enabled: true
                }
            });

        //格式化
        monaco.languages.registerDocumentFormattingEditProvider('nginx', {
            provideDocumentFormattingEdits: function (model, _options, _token) {
                return [{
                    text: nginxFormatter(model.getValue()),
                    range: model.getFullModelRange()
                }];
            }
        });

        $(window).on("load resize", function () {
            var ch = $(window).height() - $('#editor').offset().top - 20;
            $('#editor').css('height', Math.max(200, ch));
        });
    });

</script>

{{template "footer.html" .}}
