{{ block "navbar" .}}
<a class="nav-link" href="/">服务器状态</a>
<a class="nav-link" href="/config">配置</a>
<a class="nav-link" href="/sites">网站管理</a>
<a aria-current="page" class="nav-link active" href="/ssl">SSL证书管理</a>
{{end}}
{{define "content"}}
<h3>SSL</h3>
<div class="alert alert-primary" role="alert">
    SSL 证书签名列表
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">域名</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    {{range $index, $value :=.files}}
    <tr>
        <th scope="row"><a href="https://{{$value.Name}}">{{$value.Name}}</a></th>
        <td>
            <a href="/ssl/renew?domain={{$value.Name}}"><span class="badge bg-primary">续命</span></a>
            <a href="/ssl/delete?domain={{$value.Name}}"><span class="badge bg-danger">删除</span></a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}